body {padding: 0;
       margin: 0;
      display:block;}

h1 {text-align: center;
  font-size: 3.5rem;
         color: #c40707;
        margin: 0;
      text-align: center}

h2 {font-size: 1.5rem;
        color: #333;
       margin: 0;
      text-align: center}

h3 {font-size: 1.0rem;
        color: #000bda;
       margin: 0;
   text-align: center}

p {font-size: 1rem;
       color: #666}

h4 {font-size: 1.5rem;
        color: #333;
       margin: 0}

/* ----------------- BOXES ---------------vvvvvvvv--> */
.box {background-color: #f0f0f0;
  display: inline-block;
                border: 1px solid #ccc;
               padding: 20px;
                margin: 10px;
            text-align: center}

.box2 a {background-color: #f0f0f0;
            display: inline-block;
              border: 1px solid #ccc;
             padding: 20px;
             font-size: 50px;
              height: 50px;
              margin: 10px 0;
          text-align: center}      
          
.personal-info {
            display: flex;
            justify-content: space-between;
            margin-left: 50px;
            margin-right: 50px;
            margin-top: 100px}
        
.person {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center}
        
.person img {
            width: 100px; /* Adjust the width of the image as needed */
            height: auto; /* Maintain aspect ratio */
            margin-bottom: 10px}


/* ----------------- BOXES ---------------^^^^^^^^--> */


/* Define the styles for the box class */



.box1 {
  width: 700px;
  height: 1200px;
  background-color: #3498db;
  color: #fff;
  text-align: center;
  left: 25px;
  line-height: 100px;
  top: 85px;
  font-size: 40px;
  border: 2px solid #2980b9;
  border-radius: 10px;
  position: relative; /* Add relative positioning to contain the overlayControlContainer */
}

#overlayControlContainer {

  position: absolute;
  top: 150px;
  left: 175px;
  z-index: 1000;
}




/* Style the warning message */
.warning-message {
  display: none;
  background-color: #fff;
  border: 2px solid #f00;
  padding: 10px;
  text-align: center;
}

/* Style the warning message icon */
.warning-message img {
  margin-bottom: 10px;
}